apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-java-quarkus-qfczthlk
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-java-quarkus-qfczthlk:007e1fdbafb12ba3834e415092e6d9bbf7188abf@sha256:9b2c939fb832924b64de0f8463233ad1284e2e490cbab79aae2c4388a7d3b57d
        name: container-image  
